* {
    font-family: 'Roboto Flex', "Noto Sans";
    background-color: #202124;
}

#title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.buttons {
    display: flex;
    justify-content: center;
}

#rock,
#paper,
#scissors {
    border-radius: 16px;
    height: 168x;
    width: 112px;
    padding: 18px;
    margin: 10px 10px 10px 1px;
    font-size: 50px;
    box-shadow: 7px 2px 4px 2px;
    
}

#rock {
    background-color: rgb(87, 87, 87);

}  

#paper {
    background-color: rgb(255, 255, 255);
}

#scissors {
    background-color: #a77575;
}

#esito {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

#punteggio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: white;
    font-size: 35px;
    font-weight: 900;
}